.app {
  border: 1px solid #afafaf;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  width: 700px;
}

h2 {
  margin-top: 0;
}

button {
  margin-left: 10px;
}

ul {
  li {
    cursor: pointer;

    &.done {
      color: grey;
      text-decoration: line-through;
    }
  }
}
