@import "../node_modules/bootstrap/scss/bootstrap";

.app {
  border: 1px solid #afafaf;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  width: 700px;
}

h2 {
  margin-top: 0;
}

button {
  margin-left: 10px;
}

ul {
  margin-top: 15px;

  li {
    cursor: pointer;

    &.done {
      color: grey;
      text-decoration: line-through;
    }
  }
}

input {
  outline: none;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 3px;

  &.buzzword {
    border: 1px solid red;
  }
}
